<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Time e Pokémon</title>
</head>
<body>
    <h1>Cadastro de Time e Pokémon</h1>

    <!-- Formulário para adicionar um time -->
    <h2>Adicionar Time</h2>
    <form id="addTeamForm" action="/api/teams" method="post">
        <label for="owner">Nome do Dono do Time:</label><br>
        <input type="text" id="owner" name="user" required><br><br>
        <input type="submit" value="Adicionar Time">
    </form>

    <!-- Formulário para escolher Pokémon -->
    <h2>Escolher Pokémon</h2>
    <form id="choosePokemonForm" action="/api/teams" method="post">
        <label for="user">Nome do Dono do Time:</label><br>
        <input type="text" id="user" name="user" required><br><br>

        <label for="team">Selecione os Pokémon para o Time:</label><br>
        <select name="pokemons[]" id="team" multiple required>
            {% for pokemon in pokemon_options %}
            <option value="{{ pokemon }}">{{ pokemon }}</option>
        {% endfor %}
        </select><br><br>

        <input type="submit" value="Criar Time">
    </form>

        <!-- Lista de times já cadastrados -->
        <h2>Times Cadastrados</h2>
        <ul>
            {% for team in teams %}
                <li>Nome do Time: {{ team.user }} - ID:{{ team.id }}</li>
                <ul>
                    {% for pokemon in team.pokemons %}
                        <li>Pokemon: {{ pokemon.name }} - Altura: {{ pokemon.height }} - Peso: {{ pokemon.weight }}</li>
                    {% endfor %}
                </ul>
            {% endfor %}
        </ul>
    </body>
    </html>
</body>
</html>



