<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhes do Time Pokémon</title>
</head>
<body>
    <h1>Detalhes do Time Pokémon</h1>
    <h2>Time: {{ time.nome_time }}</h2>
    <ul>
        {% for pokemon in time.pokemons %}
        <li>
            <strong>Nome:</strong> {{ pokemon.nome }}<br>
            <strong>Tipo(s):</strong> {{ pokemon.tipo|join(", ") }}<br>
            <strong>Peso:</strong> {{ pokemon.peso }}<br>
            <strong>Altura:</strong> {{ pokemon.altura }}<br>
        </li>
        {% endfor %}
    </ul>
</body>
</html>